$namespace: 'bili' !default;
$seperator: '__' !default;

@mixin b($block) {
    $B: $namespace + $seperator + $block;
    .#{$B} {
        @content;
    }
}

@mixin sub($modifier){
    &#{$seperator}#{$modifier} {
      @content;
    }
}
